<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <app-appareil  *ngFor="let appareil of appareils; let i = index"
                       [appareilName]="appareil.name"
                       [external]="appareil.external"
                       [createAt]="appareil.createdAt"
                       [updatedAt]="appareil.updatedAt"
                       [channel]="appareil.channel"
                       [appareilStatus]="appareil.status"
                       [index]="i"
                       [id]="appareil.id"></app-appareil>
      </ul>
    </div>
  </div>
</div>
<button class="btn btn-success"
        (click)="onAllumer()">Tout allumer</button>
<button class="btn btn-danger"
        (click)="onEteindre()">Tout éteindre</button>
